body{

    width: 1500px;
    margin: auto;
    margin-left: 350px;
    padding-bottom: 30px;
}
.Menu {
    margin-left: 700px;
    margin-top: 30px;
    margin-right: 300px;
}

#name {
    margin-left: 40px;
    margin-top: -50px;
    font-size: 25px;
    color: black;
    font-weight: bold;
    font-family: Arial;
}

.Menu a {
    padding-left: 40px;
    text-decoration: none;
    color: gray;
    font-size: 16px;
    font-family: Arial;
}

#text1{
    margin-top: 70px;
    margin-left: 750px;
    width: 500px;
    font-size: 20px;
    text-align: justify;

}

#line1{
    margin-right: 250px;
}

#pic1{
    width: 400px;
    margin-top: -280px;
    margin-left: 100px;
}

#pic2{
    margin-top: -300px;
    margin-left: 800px;
    width: 350px;
}

#text2{
    text-align: justify;
    margin-left: 40px;
    margin-top: 100px;
    font-size: 20px;
    width: 500px;
}

#text3{
    margin-top: 70px;
    margin-left: 738px;
    width: 500px;
    font-size: 20px;
    text-align: justify;
    font-family: Arial;
}

#text4{
    text-align: justify;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 20px;
    width: 500px;
    font-family: Arial;
}

#text5{
    margin-left: 738px;
    width: 500px;
    font-size: 20px;
    text-align: justify;
    font-family: Arial;
}

#pic3{
    width: 400px;
    margin-top: -220px;
    margin-left: 100px;
}

#pic4{
    margin-top: -270px;
    margin-left: 800px;
    width: 350px;
}

#pic5{
    width: 400px;
    margin-top: -250px;
    margin-left: 100px;
}

#icon1{
    width: 150px;
    margin-left: 300px;
    margin-top: -80px;
}

#icon2{
    width: 150px;
    margin-left: 300px;
    margin-top: -80px;
}

#icon3{
    width: 150px;
    margin-left: 300px;
    margin-top: -80px;
}

#icon4{
    width: 150px;
    margin-left: 300px;
    margin-top: -80px;
}

.contact{

}

#text6{
    margin-left: 500px;
    margin-top: 100px;
    font-size: 26px;
}

#text7{
    margin-left: 500px;
    margin-top: 100px;
    font-size: 26px;
}

#text8{
    margin-left: 500px;
    margin-top: 100px;
    font-size: 26px;
}

#text9{
    margin-left: 500px;
    margin-top: 100px;
    font-size: 26px;
}

#pic8{
margin-left: 850px;
    width: 350px;
    margin-top: -65px;
}

#pic9{
    margin-top: 50px;
    margin-left: 100px;
    width: 500px;
}

#text10{
    margin-top: -350px;
    margin-left: 745px;
    width: 500px;
    font-size: 50px;
    text-align: justify;
    color: mediumblue;
    line-height: 70px;
    font-family: Arial;
}

#aboutme{
font-size: 30px;
    font-weight: bold;
    margin-top: 260px;
    margin-left: 100px;
}

#text12{
    text-align: justify;
    margin-left: 100px;
    margin-top: -275px;
    font-size: 20px;
    width: 500px;
    font-family: Arial;
}

#slika5{
    width: 500px;
    margin-top: 50px;
    margin-left: 45px;
}

#slika6{
    width: 500px;
    margin-left: 747px;
    margin-top: -315px;
}

#slika7{
    width: 400px;
    margin-left: 95px;
    margin-top: -20px;
}

#slika9{
    width: 500px;
    margin-left: 747px;
    margin-top: -230px;
}

#text13{
    margin-top: 10px;
    margin-left: 205px;
    color: orange;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial;
}

#text14{
    font-weight: bold;
    font-size: 20px;
    font-family: ;
    color: orange;
    margin-left: 920px;
    margin-top: 10px;
    font-family: Arial;
}

#text15{
    font-weight: bold;
    font-size: 20px;
    font-family: ;
    color: orange;
    margin-left: 235px;
    margin-top: 10px;
    font-family: Arial;
}

#text16{
    font-weight: bold;
    font-size: 20px;
    font-family: ;
    color: orange;
    margin-top: 10px;
    margin-left: 925px;
    font-family: Arial;
}